/* Custom Properties */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  /* neutral colors */
  --gray-50: #f2f2f2;
  --gray-100: #e6e6e6;
  --gray-200: #cccccc;
  --gray-300: #b3b3b3;
  --gray-400: #999999;
  --gray-500: #808080;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1a1a1a;

  /* primary color */
  --primary-dark: #289303;
  --primary-medium: #2EAB02;
  --primary-normal: #36C204;
  --primary-light: #86DA68;
  --primary-light2: #AFE79B;
  --primary-light3: #D7F3CD;


  /* drop shadows */
  --shadow-small: 0px 2px 4px rgba(96, 96, 96, 0.6);
  --shadow-medium: 1px 4px 8px rgba(96, 96, 96, 0.4);
  --shadow-normal: 2px 6px 12px rgba(96, 96, 96, 0.4);
  --shadow-large: 3px 8px 16px rgba(96, 96, 96, 0.4);

  /* btn padding */
  --btn-padding-large: 1rem 3rem;
  --btn-padding-med: 0.75rem 2.25rem;
  --btn-padding-small: 0.5rem 1.5rem;
}

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--gray-900);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: var(--gray-100);
  text-decoration: none;
}

button {
  border: none;
  font-size: 1rem;
}

/* global container styles */
.container {
  width: 85%;
  margin: 0 auto;
}

/* global text styles */
.text-primary {
  color: var(--primary-normal);
}

/* global button styles */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn-large {
  padding: var(--btn-padding-large);
}

.btn-medium {
  padding: var(--btn-padding-med);
}

.btn-small {
  padding: var(--btn-padding-small);
}

.btn-dark {
  color: var(--silver);
  background-color: var(--gray-800);
  border: 1px solid var(--gray-600);
}

.btn-dark:hover {
  background-color: var(--gray-700);
  border: 1px solid var(--gray-500);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary-normal);
  border: 2px solid var(--primary-normal);
}

.btn-primary:hover {
  background-color: var(--primary-medium);
  border: 2px solid var(--primary-medium);
}

.btn-secondary {
  color: var(--primary-dark);
  background-color: var(--white);
  border: 2px solid var(--primary-dark);
}

.btn-secondary:hover {
  background-color: var(--primary-light3);
}

.btn-icon-large {
  padding: 1rem !important;
}

/* Header */
header {
  width: 100%;
  color: var(--gray-100);
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--gray-800);
}

/* Header Logo styling */
#header-logo-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

#header-logo-img-content {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url("../assets/images/profile-image.jpeg") center/cover;
}

#header-logo-img-content:hover {
  cursor: pointer;
}

#header-logo-text {
  font-size: 1.5rem;
}

#header-content #contact {
  display: flex;
  gap: 1.5rem;
}

#header-content #contact i{
  color: var(--gray-200);
  font-size: 2rem;
}

#header-content #contact i:hover{
  color: var(--primary-normal);
}

/* Section: Welcome */
#welcome {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}

#welcome #about h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--gray-100)
}

#welcome #about p {
  font-size: 1.25rem;
  letter-spacing: 2px;
  /* max-width: 90%; */
  max-width: 60%;
  color: var(--gray-200);
  padding-left: 0.5rem;
  padding-top: 1rem;
}

#welcome #about-extra {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  color: var(--gray-200);
  padding: 2rem 0;
}

#welcome #about-extra span {
  color:var(--primary-normal);
}

#welcome #connect {
  display: flex;
  justify-content: space-around;
}

#welcome #connect>div {
  scale: 120%;
  display: flex;
  flex-direction: column;
  /* gap: 0.25rem; */
}

#welcome #connect .connect-message {
  color: var(--gray-400);
  font-weight: 500;
  text-align: center;
}

/* Footer */
footer {
  border-top: 1px solid var(--gray-800);
  margin-top: 0.5rem;
}

footer #footer-content {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--gray-700);
  padding: 0.5rem 0;
}

footer #footer-content p {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Media query's */
@media only screen and (max-width: 1200px) {
  #welcome {
    /* justify-content: space-evenly;
    gap: 0;
    padding-top: 0; */
    /* gap: 7rem; */
  }

  #welcome #about h1 {
    font-size: 2rem;
  }

  #welcome #about #description {
    font-size: 1rem;
    /* max-width: 100%; */
    /* padding-left: 0.5rem; */
  }

  #welcome #about-extra {
    /* padding-top: 5rem; */
    font-size: 1.75rem;
  }

  #welcome #connect {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }

  #welcome #connect>div {
    scale: 100%;
  }

  #welcome #connect #github-connect {
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 95%
  }

  #header-content {
    padding: 8px 0;
    flex-direction: column;
  }

  #header-content #contact {
    margin-left: 2rem;
  }
  
  #header-content #contact i{
    font-size: 1.5rem;
  }

  /* #welcome {
    gap: 4rem;
    justify-content: space-evenly;
    padding-top: 2rem;
  } */

  #welcome {
    /* gap: 0;
    padding-top: 0;
    justify-content: space-evenly; */
  }

  #welcome #about h1 {
    font-size: 1.5rem;
  }

  #welcome #about p {
    font-size: 0.875rem;
    max-width: 100%;
    /* padding-left: 0.5rem; */
  }

  #welcome #about-extra {
    font-size: 1.25rem;
    /* padding-top: 4rem; */
    letter-spacing: 1px;
  }

  #welcome #connect {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }

  #welcome #connect>div {
    scale: 90%;
  }

  #welcome #connect #github-connect {
    align-self: center;
  }
}